.offer-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #2d2f31; /* Background for the whole page */
  }
  
  .offer-form-background {
    display: flex;
    flex-direction: column;
    background-color: #2d2f31; /* Darker background for form */
    color: #e5e7eb;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 800px;
    max-height: 90vh; /* Set maximum height to prevent form overflow */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 0 auto;
  }
  
  /* Hide scrollbars in WebKit-based browsers (Chrome, Safari, etc.) */
  .offer-form-background::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar in Firefox */
  .offer-form-background {
    scrollbar-width: none; /* Firefox */
  }
  
  .offer-details-container h2 {
    text-align: center;
    color: #ffc107;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #d1d5db;
  }
  
  input,
  textarea,
  select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #565b61;
    border-radius: 8px;
    background-color: #2b2e30;
    color: #e5e7eb;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #ffc107;
    color: #ffffff;
  }
  
  button:hover {
    background-color: #ffca2c;
  }
  
  .image-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  /* Tag Section */
  .tag-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag-bubble {
    display: inline-block;
    background-color: #383838;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    position: relative;
  }
  
  .tag-remove {
    margin-left: 10px;
    color: #ff4c4c;
    cursor: pointer;
  }
  
  .tag-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #565b61;
    border-radius: 8px;
    background-color: #2b2e30;
    color: #e5e7eb;
  }
  