.form-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #2d2f31;
    padding: 20px;
    border-radius: 12px;
    color: #e5e7eb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    color: #ffc107;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #d1d5db;
  }
  
  .form-container input,
  .form-container select,
  .form-container textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #565b61;
    border-radius: 8px;
    background-color: #2b2e30;
    color: #e5e7eb;
    font-size: 14px;
  }
  
  .form-container button {
    padding: 12px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #ffca2c;
  }
  
  /* Image Preview for Ad Upload */
  .image-preview img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  /* Tag Input CSS */
  .tag-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tag-bubble {
    display: inline-block;
    background-color: #383838;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .tag-remove {
    margin-left: 10px;
    color: #ff4c4c;
    cursor: pointer;
  }
  
  .tag-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #565b61;
    border-radius: 8px;
    background-color: #2b2e30;
    color: #e5e7eb;
  }
  