/* OnBoard.css */

/* Container styling for the OnBoard page */
.onboard-container {
  background-color: #2d2f31;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #e5e7eb;
  overflow: hidden; /* Prevent overflow */
}

/* Header styling for the OnBoard page */
.onboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.onboard-header h2 {
  font-size: 24px;
  color: #ffffff;
  margin: 0; /* Reset margin for consistency */
}

/* New Merchant button styling */
.new-merchant-btn {
  padding: 10px 20px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Make button text bold */
}

.new-merchant-btn:hover {
  background-color: #ffca2c;
}

/* Table styling */
.onboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #2d2f31;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Adds subtle shadow to the table */
}

.onboard-table th,
.onboard-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #3a3a3a;
  color: #d1d5db;
}

.onboard-table th {
  background-color: #333;
  font-weight: bold;
}

.onboard-table tr:hover {
  background-color: #383838;
  transition: background-color 0.3s ease; /* Adds transition for smooth hover effect */
}

/* Button styling for Approve and Decline */
.approve-btn,
.decline-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Make button text bold */
}

.approve-btn {
  background-color: #ffc107;
  color: white;
}

.approve-btn:hover {
  background-color: #ffca2c;
}

.decline-btn {
  background-color: #ff4c4c;
  color: white;
}

.decline-btn:hover {
  background-color: #ff6f6f;
}

/* Filter container styling */
.filter-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#status-filter {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  background-color: #2d2f31;
  color: #e5e7eb;
  border: 1px solid #565b61;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#status-filter:focus {
  outline: none;
  border-color: #ffc107;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .onboard-container {
    padding: 10px;
    max-height: 85vh;
  }

  .onboard-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-container {
    margin-bottom: 10px;
  }

  .new-merchant-btn {
    margin-top: 10px;
  }
}
