/* MerchantDetails.css */

.admin-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #232527;
    font-family: 'Arial', sans-serif;
  }
  
  .sidebar {
    width: 10%;
    background-color: #2d2f31;
    padding: 20px;
    border-right: 1px solid #565b61;
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 12px;
    background-color: #2d2f31;
    color: #d1d5db;
    border: 1px solid #565b61;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .sidebar button:hover,
  .sidebar button.active {
    background: #ffc107;
    color: #ffffff;
    border-color: #ffc107;
    transform: translateY(-3px);
  }
  
  .content {
    width: 85%;
    padding: 20px;
    overflow-y: auto;
    overflow: hidden;
    background-color: #232527;
  }
  
  .merchant-details-header {
    width: 100%;
    height: 3vh;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
  }

  .merchant-details-header h2 {
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    margin: 0;
  }
  
  .tab-content {
    background-color: #2d2f31;
    padding: 20px;
    border-radius: 8px;
    color: #e5e7eb;
    width: 100%;
     /* Adjust height to fill remaining space */
    overflow-y: auto;
  }
  
  /* General Button Styling for Consistency */
  button {
    font-family: 'Arial', sans-serif;
  }
  
  /* Responsive Design Adjustments */
  @media (max-width: 768px) {
    .admin-container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
      border-right: none;
      border-bottom: 1px solid #565b61;
    }
  
    .content {
      width: 100%;
      padding: 10px;
    }
  
    .tabs {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .tab-content {
      padding: 10px;
    }
  }
  